.linkS{
    cursor: pointer;
    color: #6a6f4c;
    padding: 10px;
    border-radius: 20px;
    font-size: 25px;
    border-style: none;
    background-color: #ede1d2;
    margin-top: 20px;
    text-decoration: none;
    transition: all 0.4s;
    display: flex;
    flex-direction: column;
}

.linkS:hover{
    background-color: #6a6f4c;
    color: #ede1d2;
}